language: python

python:
  - 2.7
  - 3.3
  - 3.4

env:
  - DJANGO=Django==1.4
  - DJANGO=Django==1.5
  - DJANGO=Django==1.6
  - DJANGO=Django==1.7
  - DJANGO="https://github.com/django/django/zipball/master/"

install:
  - pip install -q $DJANGO

script:
  - python setup.py test

matrix:
  exclude:
    - python: 3.3
      env: DJANGO=Django==1.4
    - python: 3.4
      env: DJANGO=Django==1.4
  allow_failures:
      - env: DJANGO="https://github.com/django/django/zipball/master/"
